// BG
$main-bg: #fff;
$soft-bg: #1e9189;
$dark-bg: #1e9189;
$background-color_2: #f1f1f4;
$background_dash: #eee;

//TEXT
$main-text: #000;
$main-color: white;
$soft-color: #8b8ba7;
$dark-color: #1e9189;