@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


[data-theme="dark"] {
  --background: #000;
  --text: #fff;
}

[data-theme="light"] {
  --background: #eee;
  --text: #000;
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --color-green-primary: #1E9189;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}